<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"><a class="btn btn-primary" [routerLink]="['/dashboard/user-add']">Add new</a></h3>
            </div>

            <div class="box-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">
                                S.No.
                            </th>
                            <th class="text-center">
                                User name
                            </th>
                            <th class="text-center">
                                Full name
                            </th>
                            <th class="text-center">
                                Email
                            </th>
                            <th class="text-center">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let userData of UserList  ; let i = index; trackBy: employeeId">
                            <td class="text-center">
                                {{i+1}}
                            </td>
                            <td>
                                <a [routerLink]="['/dashboard/user-edit/',userData._id]">{{userData.UserName}}</a>
                            </td>
                            <td>
                                {{userData.FirstName}} {{userData.LastName}}
                            </td>
                            <td>
                                {{userData.Email}}
                            </td>
                            <td class="text-center">
                                <a [routerLink]="['/dashboard/user-edit/',userData._id]" class="btn btn-success">  
                                    Edit  
                                </a>
                                <a class="btn btn-danger" (click)="deleteUser(userData)">  
                                    Delete  
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <ngb-pagination [pageSize]="limit" [(page)]="currentPage" [collectionSize]="totalPage" [maxSize]="5" (pageChange)="pageChange()"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>